Термины:
-Игрок
играющий за столом против казино.
-Дилер
работник казино, выполняющий роль раздающего карты.
-Рука
набор карт игрока или дилера. Обычно правилами казино игрокам запрещается прикасаться к своим картам.

Очки:
Значения очков каждой карты: от двойки до десятки — соответственно от 2 до 10, у туза — 1 или 11
(11 пока общая сумма не больше 21, далее 1), у т. н. картинок (король, дама, валет) — 10.

Правила:
Игрок делает ставку. Ставка делается до раздачи карт. После того, как первая карта
сдана, игроку запрещается делать ставки.

Дилер раздаёт карты: две карты игроку. Все карты открываются сразу (видны и дилеру, и игроку).

Если у игрока сразу после раздачи набралось 21 очко
(то есть у игрока туз и 10 или туз и картинка), то такая ситуация и называется блек-джек.

Далее игрокам, у которых не блек-джек, предлагается на выбор либо взять ещё карту (в таком случае игрок должен сказать
дилеру «карту» или «ещё», англ. «hit me»), либо остаться при тех картах (и той сумме очков), которые у него на руке
(в этом случае игрок должен сказать дилеру «достаточно» или «хватит», "Enough")

Как правило, если у игрока после взятия новой карты в сумме получается 21, дилер не спрашивает
его больше.

Если у игрока после взятия новой карты сумма очков превысит 21, то такая ситуация называется «перебор».
Дилер произносит «много» и снимает ставку игрока в пользу казино.

Если у игрока и дилера число очков на руках равное, то такая ситуация называется «Ровно».В такой ситуации дилер выигрывает.

Если у игрока после раздачи пара тузов - он сразу же выигрывает.

После того, как игрок завершил брать карты, дилер говорит «себе» и раздаёт карты себе. Общее правило блек-джека
состоит в том, что дилер обязан остановиться, как только наберёт 17 очков или выше, и обязан брать, пока не достигнет
17 (даже если у игрока меньше очков).

Если игрок выигрывает - он получает в свой банкролл удвоенную ставку. Если проигрывает - ставка вычитается из его банкролла


